.score {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
}

.question-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background-color: #141414;
}

.next-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
