
.answer {
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #1976d2;
  padding: 1rem;
  background-color: none;
  border: 1px solid #1976d280;
  border-radius: 0.5rem;
  cursor: pointer;
}

.disabled {
  border: 1px solid #cfcfcf80;
  color: #cfcfcf;
  pointer-events: none;
}

.success {
  border: 1px solid #2e7d3280;
  color: #2e7d32;
}

.wrong {
  border: 1px solid #d32f2f80;
  color: #d32f2f;
}
